@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

body {
  height: calc(100vh - 58px);
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  font-family: "Overpass";
  box-sizing: border-box;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.topbar h1 {
  margin: 0;
  font-size: 2rem;
}

.topbar .buttons {
  display: flex;
  gap: 20px;
}

.topbar .button {
  margin-left: 10px;
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container-max-width {
  width: 1100px;
  padding: 0 112px;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container-max-width {
    padding: 0 20px;
  }
}

.center-window {
  height: calc(100% - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-form {
  background: white;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group input:focus {
  outline: none;
  box-shadow: 0 0 2px 1px black;
}

.form-group input[type="file"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.form-group input[type="file"]::-webkit-file-upload-button {
  border: none;
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.form-group input[type="file"]::-moz-file-upload-button {
  border: none;
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  width: 100%;
  font-weight: 600;
  border: none;
  margin-top: 25px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(48, 48, 48);
}

.text-center {
  text-align: center;
}

select {
  height: 27.6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}